* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(136, 123, 118);
    color: rgb(29, 29, 26);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
} 

nav li{
    display: inline-block;
    width:25%;
    padding-bottom: 10px;
    text-align:center;
    color:#000;
}

nav li:hover{
    color:#fff;
}

.box {
    display: grid;
    gap: 4rem;
    grid-auto-flow: dense;
    grid-auto-rows: 18rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.cards {
    position: relative;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(13, 7, 37);
    border-radius: 7%;
    text-align: center;
}

.btn {
    position: flex; 
    right: 132px;
    bottom: 110px;
    cursor: pointer;
}

.img {
    padding: 0.5rem;
    border-radius: 7%;
    width: 110px;
}


.formulario {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 0.8em;
}

input {
    outline: none;
    border: 0;
}

.field {
    border: solid 1px;
    border-radius: 3px;
    padding: 5px;
}

.bttn {
    margin: 10px;
}

